[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=floriank
EnvironmentFile=/home/floriank/sites/DOMAIN/.env

ExecStart=GUNICORN \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target