[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=floriank
EnvironmentFile=/home/floriank/sites/DOMAIN/.env

ExecStart=/home/floriank/.local/share/virtualenvs/DOMAIN-1KJo9bu7/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target